<%= simple_form_for(@student, html: {multipart: true}) do |f| %>
  <%= f.error_notification %>

    <%= f.input :nome %>
    <%= f.input :cpf %>
    <%= f.input :rg %>
    <%= f.input :email %>
    <%= f.input :telefone %>
    <%= f.input :celular %>

    <div class="form-group">
      <%= label_tag "Documentos" %>
      <%= file_field_tag "files[]", type: :file, multiple: true, id: "student_documents" %>
    </div>
    <%= f.submit "Salvar", class: 'btn btn-primary'%>
<% end %>
