<h1 class="title">Lista de Alunos</h1>

<table class="table table-striped">
  <tr>
      <th><%= sort_link @q, :nome, 'Nome' %></th>
      <th><%= sort_link @q, :cpf, 'CPF' %></th>
      <th><%= sort_link @q, :rg, 'RG' %></th>
      <th><%= sort_link @q, :email, 'Email' %></th>
      <th><%= sort_link @q, :telefone, 'Telefone' %></th>
      <th><%= sort_link @q, :celular, 'Celular' %></th>
      <th colspan="3">Ações</th>
  </tr>

  <%= content_tag_for(:tr, @students) do |student| %>
    <td><%= student.nome %></td>
    <td><%= student.cpf %></td>
    <td><%= student.rg %></td>
    <td><%= student.email %></td>
    <td><%= student.telefone %></td>
    <td><%= student.celular %></td>
    <td><%= link_to 'Mostrar', student, class: 'btn btn-default btn-xs' %></td>
    <td><%= link_to 'Editar', edit_student_path(student), class: 'btn btn-warning btn-xs' %></td>
    <td><%= link_to 'Destruir', student, method: :delete, data: { confirm: 'Você tem certeza?' }, class: 'btn btn-danger btn-xs' %></td>
  <% end %>
</table>

<hr />

<%= link_to 'Novo Aluno', new_student_path, class: 'btn btn-success' %>
