<h1 class="title">Lista de Grupos de Pesquisa</h1>

<table class="table table-striped">
  <tr>
      <th>Nome</th>
      <th>Líder</th>
      <th>Última Verificação</th>
      <th colspan="3">Ações</th>
  </tr>

  <%= content_tag_for(:tr, @research_groups) do |research_group| %>
          <td><%= research_group.nome %></td>
          <td><%= link_to research_group.professor.nome, research_group.professor %></td>
          <td><%= l research_group.ultima_verificacao %></td>
        <td>
      <%= link_to 'Mostrar', research_group %>
      <%= link_to 'Editar', edit_research_group_path(research_group) %>
      <%= link_to 'Destruir', research_group, method: :delete, data: { confirm: 'Você tem certeza?' } %>
    </td>
  <% end %>
</table>

<hr />

<%= link_to 'Novo Grupo de Pesquisa', new_research_group_path, class: 'btn btn-success' %>
