<h1 class="title">Exibindo Grupo de Pesquisa</h1>

<dl class="dl-horizontal">
  <dt>Nome:</dt>
  <dd><%= @research_group.nome %></dd>
  <dt>Líder:</dt>
  <dd><%= @research_group.professor.nome  %></dd>
  <dt>Link Grupo CNPQ:</dt>
  <dd><%= @research_group.link_grupo_cnpq %></dd>
  <dt>Grande Área</dt>
  <dd><%= @research_group.area.nome unless @research_group.area.nil? %></dd>
  <dt>Última Verificação:</dt>
  <dd><%= l @research_group.ultima_verificacao %></dd>
</dl>

<hr />

<%= link_to 'Editar', edit_research_group_path(@research_group), class: 'btn btn-warning' %>
<%= link_to 'Voltar', research_groups_path, class: 'btn btn-default' %>

<br />
<br />

<h4 class="title">Linhas de Pesquisa desse Grupo</h4>
<table class="table table-striped">
  <tr>
    <th>Nome</th>
  </tr>
  <% if @research_group.research_lines.any? %>
    <% @research_group.research_lines.each do |rl|%>
      <tr>
        <td><%= link_to rl.nome, rl %></td>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td>Nenhuma Linha de Pesquisa associada a esse Grupo de Pesquisa</td>
    </tr>
  <% end %>
</table>
