<h1 class="title">Lista de Professores</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>CPF</th>
      <th>RG</th>
      <th>Email</th>
      <th>Telefone</th>
      <th>Celular</th>
      <th colspan="3">Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @professors.each do |professor| %>
      <tr>
        <td><%= professor.nome %></td>
        <td><%= professor.cpf %></td>
        <td><%= professor.rg %></td>
        <td><%= professor.email %></td>
        <td><%= professor.telefone %></td>
        <td><%= professor.celular %></td>
        <td><%= link_to 'Mostrar', professor %></td>
        <td><%= link_to 'Editar', edit_professor_path(professor) %></td>
        <td><%= link_to 'Destruir', professor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr />

<%= link_to 'Novo Professor', new_professor_path, class: 'btn btn-primary' %>
