<h1 class="title">Exibindo Professor</h1>

<p>
  <strong>Nome:</strong>
  <%= @professor.nome %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @professor.cpf %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @professor.rg %>
</p>

<p>
  <strong>Email:</strong>
  <%= @professor.email %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @professor.telefone %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @professor.celular %>
</p>

<hr />

<%= link_to 'Editar', edit_professor_path(@professor), class: 'btn btn-warning' %>
<%= link_to 'Voltar', professors_path, class: 'btn btn-default'%>
