<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @professor.nome %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @professor.cpf %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @professor.rg %>
</p>

<p>
  <strong>Email:</strong>
  <%= @professor.email %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @professor.telefone %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @professor.celular %>
</p>

<%= link_to 'Edit', edit_professor_path(@professor) %> |
<%= link_to 'Back', professors_path %>
