<%= simple_form_for(@project, html: {multipart: true}) do |f| %>
  <%= f.error_notification %>

    <%= f.input :nome %>
    <%= f.association :coordenador, label_method: :nome %>
    <%= f.input :data_inicio, label: 'Data Início', as: 'date_picker' %>
    <%= f.input :data_fim, as: 'date_picker' %>
    <%= f.input :numero_suap, label: 'Número SUAP' %>
    <%= f.input :nome_edital %>
    <%= f.input :link_cnpq, label: 'Link CNPQ' %>
    <%= f.input :ultima_verificacao, label: 'Última Verificação', as: 'datetime_picker' %>
    <%= f.input :auxilio_aipct, label: 'Auxílio AIPCT' %>
    <%= f.input :valor_aipct, label: 'Valor AIPCT', input_html: {value: f.object.valor_aipct || '0,00'} %>
    <%= f.association :research_line, label: 'Linha de Pesquisa', label_method: :nome %>
    <%= f.association :situation, label: 'Situação', label_method: :nome %>

    <hr />
    <p class="alert alert-info"><strong>Importante! Qualquer alteração nos vínculos somente serão efetivadas após clicar no botão de Atualizar Projeto/Criar Projeto</strong></p>

    <h4 class="title">Vínculo de Alunos</h4>
    <div id="member_students">
       <%= f.simple_fields_for :member_students do |ms| %>
         <%= render 'member_student_fields', :f => ms, :render_options => {:wrapper => 'inline' } %>
       <% end %>
       <%= link_to_add_association 'Adicionar Aluno', f, :member_students, class: 'btn btn-primary', :id => 'member_students' %>
    </div>
    
    
    
    <hr />

    <div class="form-group">
      <%= label_tag "Anexos" %>
      <%= file_field_tag "attachments[]", type: :file, multiple: true %>
    </div>

    <div class="form-group">
      <%= label_tag "Publicações" %>
      <%= file_field_tag "publications[]", type: :file, multiple: true %>
    </div>

    <%= f.button :submit, class: 'btn btn-primary'%>
<% end %>
