<%= simple_form_for(@project, html: {multipart: true}) do |f| %>
  <%= f.error_notification %>

    <%= f.input :nome %>
    <%= f.association :coordenador, label_method: :nome, input_html: { class: 'chosen-select' } %>
    <%= f.input :data_inicio, label: 'Data Início', as: 'date_picker' %>
    <%= f.input :data_fim, as: 'date_picker' %>
    <%= f.input :numero_suap, label: 'Número SUAP' %>
    <%= f.input :nome_edital %>
    <%= f.association :scholarship_type, label_method: :nome, input_html: { class: 'chosen-select' }, label: 'Tipo de Bolsa' %>
    <%= f.input :auxilio_aipct, label: 'Auxílio AIPCT' %>
    <%= f.input :valor_aipct, label: 'Valor AIPCT', input_html: {value: f.object.valor_aipct || '0,00'} %>
    <%= f.association :research_line, label: 'Linha de Pesquisa', label_method: :nome, input_html: { class: 'chosen-select' } %>
    <%= f.association :situation, label: 'Situação', label_method: :nome, input_html: { class: 'chosen-select' } %>

    <p class="alert alert-info"><strong>Importante! Qualquer alteração nos campos abaixo somente serão efetivados após clicar no botão de Atualizar Projeto/Criar Projeto</strong></p>

    <h4 class="title">Definição dos Relatórios</h4>
    <div id="reports">
      <%= link_to_add_association 'Adicionar Relatório', f, :reports, class: 'btn btn-primary' %>
      <%= f.simple_fields_for :reports do |m| %>
        <%= render 'report_fields', :f => m, :render_options => {:wrapper => 'inline' } %>
      <% end %>
    </div>

    <hr />

    <h4 class="title">Vínculo de Pesquisadores</h4>
    <div id="member_researchers">
      <%= link_to_add_association 'Adicionar Pesquisador', f, :member_researchers, class: 'btn btn-primary' %>
      <%= f.simple_fields_for :member_researchers do |m| %>
        <%= render 'member_researcher_fields', :f => m, :render_options => {:wrapper => 'inline' } %>
      <% end %>
    </div>

    <h4 class="title">Vínculo de Alunos</h4>
    <div id="member_students">
       <%= link_to_add_association 'Adicionar Aluno', f, :member_students, class: 'btn btn-primary' %>
       <%= f.simple_fields_for :member_students do |ms| %>
         <%= render 'member_student_fields', :f => ms, :render_options => {:wrapper => 'inline' } %>
       <% end %>
    </div>

    <br />

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <h4 class="title">Anexos</h4>
          <%= file_field_tag "attachments[]", type: :file, multiple: true %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <h4 class="title">Publicações</h4>
          <%= file_field_tag "publications[]", type: :file, multiple: true %>
        </div>
      </div>
    </div>

    <br />

    <%= f.button :submit, class: 'btn btn-primary'%>
<% end %>
