<h1 class="title">Lista de Projetos</h1>

<table class="table table-striped">
  <tr>
      <th><%= sort_link @q, :nome, 'Nome' %></th>
      <th><%= sort_link @q, :coordenador_nome, 'Coordenador' %></th>
      <th><%= sort_link @q, :data_inicio, 'Data Início' %></th>
      <th><%= sort_link @q, :data_fim, 'Data Fim' %></th>
      <th><%= sort_link @q, :numero_suap, 'Número SUAP' %></th>
      <th><%= sort_link @q, :scholarship_type_nome, 'Tipo de Bolsa' %></th>
      <th><%= sort_link @q, :research_line_nome, 'Linha de Pesq.' %></th>
      <th><%= sort_link @q, :situation_nome, 'Situação' %></th>
      <th colspan="3">Ações</th>
  </tr>
  <tr>
    <%= search_form_for @q do |f| %>
      <td>
        <%= f.search_field :nome_cont, class: 'form-control' %>
      </td>
      <td>
        <%= f.search_field :coordenador_nome_cont, class: 'form-control' %>
      </td>
      <td>
        <%= f.search_field :data_inicio_eq, class: 'form-control', value: (l(f.object.data_inicio_eq) if f.object.data_inicio_eq) %>
      </td>
      <td>
        <%= f.search_field :data_fim_eq, class: 'form-control', value: (l(f.object.data_fim_eq) if f.object.data_fim_eq) %>
      </td>
      <td>
        <%= f.search_field :numero_suap_cont, class: 'form-control' %>
      </td>
      <td>
        <%= f.select :scholarship_type_id_eq, options_from_collection_for_select(ScholarshipType.all, "id", "nome", @q.scholarship_type_id_eq), {include_blank: "Selecione o Tipo"}, {class: 'form-control'} %>
      </td>
      <td>
        <%= f.select :research_line_id_eq, options_from_collection_for_select(ResearchLine.all, "id", "nome", @q.research_line_id_eq), {include_blank: "Selecione a Linha"}, {class: 'form-control'} %>
      </td>
      <td>
        <%= f.select :situation_id_eq, options_from_collection_for_select(Situation.all, "id", "nome", @q.situation_id_eq), {include_blank: "Selecione a Situação"}, {class: 'form-control'} %>
      </td>
      <td colspan="3">
        <%= f.submit 'Filtrar', class: 'btn btn-primary' %>
        <%= link_to "Limpar", projects_path, class: 'btn btn-warning' %>
      </td>
    <% end %>
  </tr>

  <%= content_tag_for(:tr, @projects) do |project| %>
    <% if project.edital_file_name? %>
      <td><%= link_to project.nome, project.edital.url, target: '_blank' %></td>
    <% else %>
      <td><%= project.nome %></td>
    <% end %>
    <td><%= link_to project.coordenador.nome, project.coordenador %></td>
    <td><%= l project.data_inicio unless project.data_inicio.nil? %></td>
    <td><%= l project.data_fim unless project.data_fim.nil? %></td>
    <td><%= project.numero_suap %></td>
    <td><%= project.scholarship_type.nome unless project.scholarship_type.nil? %></td>
    <td><%= link_to project.research_line.nome, project.research_line %></td>
    <td><%= project.situation.nome %></td>
    <td><%= link_to 'Mostrar', project, class: 'btn btn-default btn-xs' %></td>
    <td><%= link_to 'Editar', edit_project_path(project), class: 'btn btn-warning btn-xs' %></td>
    <td><%= link_to 'Destruir', project, method: :delete, data: { confirm: 'Você tem certeza?' }, class: 'btn btn-danger btn-xs' %></td>
  <% end %>
</table>

<hr />

<%= link_to 'Novo Projeto', new_project_path, class: 'btn btn-success' %>
