<h2 class="title">Exibindo Projeto</h2>

<div class="row">
  <div class="col-md-6">

    <dl class="dl-horizontal">
      <dt>Nome:</dt>
      <dd><%= @project.nome %></dd>
      <dt>Coordenador:</dt>
      <dd><%= @project.coordenador.nome %></dd>
      <dt>Data Início:</dt>
      <dd><%= l @project.data_inicio %></dd>
      <dt>Data Fim:</dt>
      <dd><%= l @project.data_fim %></dd>
      <dt>Número SUAP:</dt>
      <dd><%= @project.numero_suap %></dd>
      <dt>Nome Edital:</dt>
      <dd><%= @project.nome_edital %></dd>
      <dt>Link CNPQ:</dt>
      <dd><%= @project.link_cnpq %></dd>
      <dt>Última Verificação:</dt>
      <dd><%= l @project.ultima_verificacao, format: :short %></dd>
      <% if @project.auxilio_aipct %>
        <dt>Auxílio AIPCT:</dt>
        <dd><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></dd>
        <dt>Valor AIPCT:</dt>
        <dd><%= humanized_money_with_symbol @project.valor_aipct %></dd>
      <% else %>
        <dt>Auxílio AIPCT:</dt>
        <dd><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></dd>
      <% end %>

      <dt>Linha de Pesquisa:</dt>
      <dd><%= @project.research_line.nome %></dd>
      <dt>Situação:</dt>
      <dd><%= @project.situation.nome %></dd>
    </dl>

  </div>
  <div class="col-md-6">
    <h4 class="title">Professores</h4>
    <table class="table table-striped">
      <tr>
        <th>Professor</th>
        <th>Email</th>
      </tr>
      <% if @project.member_professors.any? %>
        <% @project.member_professors.each do |p| %>
          <tr>
            <td><%= link_to p.professor.nome, p.professor %></td>
            <td><%= p.professor.email %></td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td>Nenhum vínculo cadastro ainda</td>
        </tr>
      <% end %>
    </table>

    <h4 class="title">Alunos</h4>
    <table class="table table-striped">
      <tr>
        <th>Aluno</th>
        <th>Vínculo</th>
        <th>Início</th>
        <th>Fim</th>
      </tr>
      <% if @project.member_students.any? %>
        <% @project.member_students.each do |s| %>
          <tr>
            <td><%= s.student.nome %></td>
            <td><%= s.tipo_vinculo %></td>
            <td><%= l s.data_inicio %></td>
            <td><%= l s.data_fim %></td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td>Nenhum vínculo cadastro ainda</td>
        </tr>
      <% end %>
    </table>

    <h4 class="title">Anexos</h4>
    <table class="table table-striped">
      <% if @project.project_attachments.any? %>
        <% @project.project_attachments.each do |p| %>
          <tr>
            <td><%= link_to p.file_file_name, p.file.url %></td>
            <td><%= link_to 'Deletar', p, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td>Nenhum anexo cadastrado até o momento.</td>
        <tr>
      <% end %>
    </table>

    <h4 class="title">Publicações</h4>
    <table class="table table-striped">
      <% if @project.project_publications.any? %>
        <% @project.project_publications.each do |p| %>
          <tr>
            <td><%= link_to p.file_file_name, p.file.url %></td>
            <td><%= link_to 'Deletar', p, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td>Nenhum anexo cadastrado até o momento.</td>
        <tr>
      <% end %>
    </table>
  </div>
</div>

<hr />



<%= link_to 'Editar', edit_project_path(@project), class: 'btn btn-warning' %>
<%= link_to 'Voltar', projects_path, class: 'btn btn-default' %>
