<h2 class="title">Exibindo Projeto</h2>

<div class="row">
  <div class="col-md-6">

    <dl class="dl-horizontal">
      <dt>Nome:</dt>
      <dd><%= @project.nome %></dd>
      <dt>Coordenador:</dt>
      <dd><%= @project.coordenador.nome %></dd>
      <dt>Data Início:</dt>
      <dd><%= l @project.data_inicio %></dd>
      <dt>Data Fim:</dt>
      <dd><%= l @project.data_fim %></dd>
      <dt>Número SUAP:</dt>
      <dd><%= @project.numero_suap %></dd>
      <dt>Nome Edital:</dt>
      <dd><%= @project.nome_edital %></dd>
      <dt>Arquivo do Projeto:</dt>
      <% if @project.edital_file_name? %>
        <dd><%= link_to @project.edital_file_name, @project.edital.url, target: '_blank' %>
        <% if (can? :delete, @project) %>
          - <%= link_to 'Deletar', project_delete_edital_path(@project), class: 'btn btn-danger btn-xs' %> </dd>
        <% end %>
      <% else %>
        <dd>Nenhum arquivo enviado.</dd>
      <% end %>
      <dt>Tipo de Bolsa:</dt>
      <dd><%= @project.scholarship_type.nome %></dd>
      <% if @project.auxilio_aipct %>
        <dt>Auxílio AIPCT:</dt>
        <dd><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></dd>
        <dt>Valor AIPCT:</dt>
        <dd><%= humanized_money_with_symbol @project.valor_aipct %></dd>
      <% else %>
        <dt>Auxílio AIPCT:</dt>
        <dd><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></dd>
      <% end %>

      <dt>Linha de Pesquisa:</dt>
      <dd><%= @project.research_line.nome %></dd>
      <dt>Situação:</dt>
      <dd><%= @project.situation.nome %></dd>
    </dl>

    <h4 class="title">Relatórios</h4>
    <table class="table table-striped">
      <tr>
        <th>Período de Desenvolvimento</th>
        <th>Status</th>
        <th>Avaliação</th>
        <th>Ações</th>
      </tr>
      <% if @project.reports.any? %>
        <% @project.reports.each do |r| %>
          <tr>
            <td><%= l r.periodo_desenvolvimento_inicio %> à <strong><%= l r.periodo_desenvolvimento_fim %></strong></td>
            <td><%= (r.entregue) ? 'Entregue' : 'Pendente' %></td>
            <td>
              <% if r.entregue %>
                <%= (r.avaliacao) ? r.avaliacao : 'Em avaliação' %>
              <% end %>
            </td>
            <td>
              <% if r.entregue? %>
                <%= link_to "Mostrar", r, class: 'btn btn-default btn-xs' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td>Nenhum vínculo cadastro ainda</td>
        </tr>
      <% end %>
    </table>

  </div>
  <div class="col-md-6">
    <h4 class="title">Pesquisadores</h4>
    <table class="table table-striped">
      <tr>
        <th>Pesquisador</th>
        <th>Email</th>
      </tr>
      <% if @project.member_researchers.any? %>
        <% @project.member_researchers.each do |p| %>
          <tr>
            <td><%= link_to p.researcher.nome, p.researcher %></td>
            <td><%= p.researcher.email %></td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td>Nenhum vínculo cadastro ainda</td>
        </tr>
      <% end %>
    </table>

    <h4 class="title">Alunos</h4>
    <table class="table table-striped">
      <tr>
        <th>Aluno</th>
        <th>Vínculo</th>
        <th>Início</th>
        <th>Fim</th>
        <th>Rel. Entregue?</th>
      </tr>
      <% if @project.member_students.any? %>
        <% @project.member_students.each do |s| %>
          <tr>
            <td><%= link_to s.student.nome, s.student %></td>
            <td><%= s.tipo_vinculo %></td>
            <td><%= l s.data_inicio %></td>
            <td><%= l s.data_fim %></td>
            <td>
              <% if s.relatorio_entregue %>
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
              <% else %>
                Pendente
              <% end %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td>Nenhum vínculo cadastro ainda</td>
        </tr>
      <% end %>
    </table>

    <h4 class="title">Anexos</h4>
    <table class="table table-striped">
      <% if @project.project_attachments.any? %>
        <% @project.project_attachments.each do |p| %>
          <tr>
            <td><%= link_to p.file_file_name, p.file.url %></td>
            <td><%= link_to 'Deletar', p, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td>Nenhum anexo cadastrado até o momento.</td>
        <tr>
      <% end %>
    </table>

    <h4 class="title">Publicações</h4>
    <table class="table table-striped">
      <% if @project.project_publications.any? %>
        <% @project.project_publications.each do |p| %>
          <tr>
            <td><%= link_to p.file_file_name, p.file.url %></td>
            <td><%= link_to 'Deletar', p, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td>Nenhum anexo cadastrado até o momento.</td>
        <tr>
      <% end %>
    </table>
  </div>
</div>

<hr />



<%= link_to 'Editar', edit_project_path(@project), class: 'btn btn-warning' %>
<%= link_to 'Voltar', projects_path, class: 'btn btn-default' %>
