<%= simple_form_for(@researcher, html: {multipart: true}) do |f| %>
  <%= f.error_notification %>

    <%= f.input :nome %>
    <%= f.input :cpf %>
    <%= f.input :rg %>
    <%= f.input :email %>
    <%= f.input :link_lattes %>
    <%= f.input :telefone %>
    <%= f.input :celular %>

    <div class="form-group">
      <%= label_tag "Documentos" %>
      <%= file_field_tag "files[]", type: :file, multiple: true, id: "researcher_documents" %>
    </div>

    <%= f.submit "Salvar", class: 'btn btn-success' %>
<% end %>
