<h1 class="title">Lista de Pesquisadores</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sort_link @q, :nome, 'Nome' %></th>
      <th><%= sort_link @q, :cpf, 'CPF' %></th>
      <th><%= sort_link @q, :rg, 'RG' %></th>
      <th><%= sort_link @q, :email, 'Email' %></th>
      <th><%= sort_link @q, :telefone, 'Telefone' %></th>
      <th><%= sort_link @q, :celular, 'Celular' %></th>
      <th colspan="3">Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @researchers.each do |researcher| %>
      <tr>
        <td><%= researcher.nome %></td>
        <td><%= researcher.cpf %></td>
        <td><%= researcher.rg %></td>
        <td><%= researcher.email %></td>
        <td><%= researcher.telefone %></td>
        <td><%= researcher.celular %></td>
        <% if can? :read, researcher %>
          <td><%= link_to 'Mostrar', researcher, class: 'btn btn-default btn-xs' %></td>
        <% end %>
        <% if can? :edit, researcher %>
          <td><%= link_to 'Editar', edit_researcher_path(researcher), class: 'btn btn-warning btn-xs' %></td>
        <% end %>
        <% if can? :delete, researcher %>
          <td><%= link_to 'Destruir', researcher, method: :delete, data: { confirm: 'Você tem certeza?' }, class: 'btn btn-danger btn-xs' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if can? :create, Researcher %>
  <hr />
  <%= link_to 'Novo Pesquisador', new_researcher_path, class: 'btn btn-primary' %>
<% end %>
