<h1 class="title">Exibindo Pesquisador</h1>

<div class="row">
  <div class="col-md-6">
    <h4 class="title">Dados</h4>

    <dl class="dl-horizontal">
      <dt>Nome:</dt>
      <dd><%= @researcher.nome %></dd>
      <dt>Cpf:</dt>
      <dd><%= @researcher.cpf %></dd>
      <dt>Rg:</dt>
      <dd><%= @researcher.rg %></dd>
      <dt>Email:</dt>
      <dd><%= @researcher.email %></dd>
      <dt>Link Lattes:</dt>
      <dd><%= @researcher.link_lattes %></dd>
      <dt>Telefone:</dt>
      <dd><%= @researcher.telefone %></dd>
      <dt>Celular:</dt>
      <dd><%= @researcher.celular %></dd>
    </dl>
  </div>

  <div class="col-md-6">
    <h4 class="title">Documentos</h4>
    
    <table class="table">
      <tr>
        <th>Nome</th>
        <th>Ações</th>
      </tr>
    
      <% if @researcher.documents.any? %>
        <% @researcher.documents.each do |d| %>
          <tr>
            <td><%= link_to d.file_file_name, d.file.url %></td>
            <td><%= link_to 'Deletar', d, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td>Nenhum documento cadastrado até o momento.</td>
        <tr>
      <% end %>
    
    </table>
  </div>
</div>

<hr />

<%= link_to 'Editar', edit_researcher_path(@researcher), class: 'btn btn-warning' %>
<%= link_to 'Voltar', researchers_path, class: 'btn btn-default'%>
