<h1 class="title">Lista de <%= plural_table_name %></h1>

<table class="table table-striped">
  <tr>
  <% attributes.each do |attribute| -%>
    <th><%= attribute.name %></th>
  <% end -%>
    <th colspan="3">Ações</th>
  </tr>

  <%%= content_tag_for(:tr, @<%= plural_table_name %>) do |<%= singular_table_name %>| %>
    <% attributes.each do |attribute| -%>
      <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
    <% end -%>
    <td>
      <%%= link_to 'Mostrar', <%= singular_table_name %> %>
      <%%= link_to 'Editar', edit_<%= singular_table_name %>_path(<%= singular_table_name %>) %>
      <%%= link_to 'Destruir', <%= singular_table_name %>, method: :delete, data: { confirm: 'Você tem certeza?' } %>
    </td>
  <%% end %>
</table>

<hr />

<%%= link_to 'Novo(a) <%= human_name %>', new_<%= singular_table_name %>_path, class: 'btn btn-success' %>
