<h1 class="title center">Entrega de Relatório <%= (@last_report) ? 'Final' : 'Parcial'%></h1>

<dl class="dl-horizontal">
  <dt>Projeto:</dt>
  <dd><%= @report.project.nome %></dd>
  <dt>Coordenador:</dt>
  <dd><%= @report.project.coordenador.nome %></dd>
  <dt>Edital:</dt>
  <dd><%= @report.project.nome_edital %></dd>
  <dt>Duração do Projeto:</dt>
  <dd><%= l @report.project.data_inicio %> à <%= l @report.project.data_fim %></dd>
  <dt>Período de Desenv. :</dt>
  <dd><%= l @report.periodo_desenvolvimento_inicio %> à <%= l @report.periodo_desenvolvimento_fim %> (Referente a este relatório)</dd>
  <dt>Tipo da Bolsa:</dt>
  <dd><%= @report.project.scholarship_type.nome %></dd>
</dl>
<%= simple_form_for(@report, url: report_deliver_path, method: :put, html: {multipart: true}) do |f| %>
  <%= f.error_notification %>

  <%= hidden_field_tag :access_token, @report.access_token %>
  <%= f.input :atividades_desenvolvidas, :input_html => {:rows => 10}, label: 'Atividades Desenvolvidas' %>
  <%= f.input :resultados_obtidos, :input_html => {:rows => 10}, label: 'Resultados Obtidos' %>
  <%= f.input :dificuldades_encontradas, :input_html => {:rows => 10}, label: 'Dificuldades Encontradas' %>

  <% unless @last_report %>
  <%= f.input :proximas_etapas, :input_html => {:rows => 10}, label: 'Próximas Etapas' %>
  <% end %>

  <% if @last_report %>
    <%= f.input :conclusoes, :input_html => {:rows => 10}, label: 'Conclusões' %>
    <%= f.input :referencias, :input_html => {:rows => 10}, label: 'Referências' %>
  <% end %>

  <h4 class="title">Anexos</h4>
  <p>(Os anexos serão enviados somente após ser clicado no botão enviar relatório, para selecionar mais de um arquivo, segure o ctrl na janela de seleciionar os arquivos.)</p>
  <%= file_field_tag "report_attachments[]", type: :file, multiple: true, id: 'report_attachments' %>
  <br />


  <br />


  <%= f.button :submit, class: 'btn btn-primary', value: 'Enviar Relatório' %>
<% end %>

<br >
<h4 class="title">Anexos</h4>
<table class="table table-striped">
  <% if @report.report_attachments.any? %>
    <% @report.report_attachments.each do |p| %>
      <tr>
        <td><%= link_to p.file_file_name, p.file.url %></td>
        <td><%= link_to 'Deletar', p, method: :delete, data: { confirm: 'Você tem certeza?' }, id: "destroy_report_attachment_#{p.id}" %></td>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td>Nenhum anexo enviado pelo pesquisador para esse relatório.</td>
    <tr>
  <% end %>
</table>
