<h1 class="title">Relatórios para Avaliação</h1>

<table class="table table-striped">
  <tr>
    <th>Projeto</th>
    <th>Período de Desenvolvimento</th>
    <th>Entregue pelo Pesquisador em:</th>
    <th>Status</th>
    <th colspan="3">Ações</th>
  </tr>

  <%= content_tag_for(:tr, @reports) do |report| %>
    <td><%= report.project.nome %></td>
    <td><%= l report.periodo_desenvolvimento_inicio %> à <%= l report.periodo_desenvolvimento_fim %></td>
    <td><%= l report.enviado_pelo_pesquisador_em, format: :long if report.enviado_pelo_pesquisador_em %></td>
    <td><%= report.status_i18n %>
    <td>
      <%= link_to 'Mostrar', report, class: 'btn btn-default btn-xs', id: "show_report_#{report.id}" %>
    </td>
  <% end %>
</table>

<hr />
