<h1 class="title">Relatórios para Avaliação</h1>

<table class="table table-striped">
  <tr>
    <th>Projeto</th>
    <th>Período de Desenvolvimento</th>
    <th>Status</th>
    <th>Avaliação</th>
    <th colspan="3">Ações</th>
  </tr>

  <%= content_tag_for(:tr, @reports) do |report| %>
    <td><%= report.project.nome %></td>
    <td><%= l report.periodo_desenvolvimento_inicio %> à <%= l report.periodo_desenvolvimento_fim %></td>
    <td><%= report.entregue ? 'Entregue' : 'Pendente' %>
    <td><%= report.avaliacao ? report.avaliacao : 'Aguardando Avaliação' %>
    <td>
      <%= link_to 'Mostrar', report, class: 'btn btn-default btn-xs' %>
    </td>
  <% end %>
</table>

<hr />
