<h1 class="title">Exibindo Relatório <%= (@last_report) ? 'Final' : 'Parcial' %></h1>

<dl class="dl-horizontal">
  <dt>Projeto:</dt>
  <dd><%= @report.project.nome %></dd>
  <dt>Coordenador</dt>
  <dd><%= @report.project.coordenador.nome %></dd>
  <dt>Edital:</dt>
  <dd><%= @report.project.nome_edital %></dd>
  <dt>Duração do Projeto:</dt>
  <dd><%= l @report.project.data_inicio %> à <%= l @report.project.data_fim %></dd>
  <dt>Período de Desenv. :</dt>
  <dd><%= l @report.periodo_desenvolvimento_inicio %> à <%= l @report.periodo_desenvolvimento_fim %></dd>
  <dt>Ativ. Desenvolvidas:</dt>
  <dd><%= @report.atividades_desenvolvidas %></dd>
  <dt>Resultados Obtidos:</dt>
  <dd><%= @report.resultados_obtidos %></dd>
  <dt>Dificuldades Encontradas:</dt>
  <dd><%= @report.dificuldades_encontradas %></dd>

  <% unless @last_report %>
    <dt>Próximas Etapas:</dt>
    <dd><%= @report.proximas_etapas %></dd>
  <% end %>

  <% if @last_report %>
    <dt>Conclusões:</dt>
    <dd><%= @report.conclusoes %></dd>
    <dt>Referências:</dt>
    <dd><%= @report.referencias %></dd>
  <% end %>
</dl>

<h4 class="title">Anexos</h4>
<table class="table table-striped">
  <% if @report.report_attachments.any? %>
    <% @report.report_attachments.each do |p| %>
      <tr>
        <td><%= link_to p.file_file_name, p.file.url %></td>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td>Nenhum anexo enviado pelo pesquisador.</td>
    <tr>
  <% end %>
</table>

<% if @report.avaliacao != 'Aprovado' %>
<h3 class="title">Avaliação</h3>
<div class="row">
  <div class="col-md-8">
    <%= simple_form_for(@report, url: report_reformulate_path, method: :put) do |f| %>
      <%= f.input :observacao_reformular, label: 'Observação ao Reformular' %>

      <%= f.button :submit, class: 'btn btn-lg btn-warning', value: 'Reformular' %>
    <% end %>
  </div>

  <div class="col-md-2">
    <br />
    <%= link_to "Aprovar", report_approve_path, method: :put, class: 'btn btn-lg btn-primary' %> 
  </div>
</div>
<% end %>

<hr />

<%= link_to 'Voltar', reports_path, class: 'btn btn-default' %>
